:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.form-section {
    background-color: #4a69bd;
    display: flex;
    align-items: center;
}

.logo-svg {
    position: absolute;
    display: inline-block;
    // float: left;
    margin-right: 40px;
    margin-left: 40px;
    z-index: 9999;
}

.js-hidden {
    visibility: hidden;
    opacity: 0;
}

.form-container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-box {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.input-box:focus {
    border: 1px solid dodgerblue;
}

.left-pointing-magnifying-glass {
    position: absolute;
    right: 0px;
    bottom: 8px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background: #4a69bd22;
    border: none;
    outline: none;
    line-height: 0;
}

.left-pointing-magnifying-glass:hover,
.left-pointing-magnifying-glass:focus {
    cursor: pointer;
}

.left-pointing-magnifying-glass img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.gallery__item {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    color: black;
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
}

.info {
    display: flex;
}